body {
    background: rgb(53, 53, 53);
    color: white;
    padding: 15px;
    font-family: 'Trebuchet MS';
    font-size: 22px;
}

header {
    margin: 30px;
    padding: 20px;
    text-align: center;
}

h5 {
    letter-spacing: 3px;
}

form {
    display: flex;
    justify-content: center;
    background-image: url("images/milky-way-dark.jpg");
    background-repeat: inherit; 
    background-size: auto;
    padding: 6% 8%;
    border: 2px solid rgb(200, 200, 200);
    box-shadow: 2px 2px 20px rgb(175, 175, 175);
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    max-width: 50%;
}

label {
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
} 

input {
    border-radius: 8px !important;
    margin: 0 5px 0 16px !important;
}

img {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
}

/* img:hover {
    background-color: rgb(240, 240, 240);
    opacity: 0.8;
} */
button {
    color: white;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: rgb(0, 132, 255);
    padding: 5px;
    border-radius: 3px;
    
}

.game-display,
.youtube-display {
    border: solid white 1px;
    border-radius: 16px;
}

.free-game-result {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#GameBops {
    font-size: 46px;
    letter-spacing: 5px;
    margin: 10px;
    text-shadow: 1px 1px 6px rgb(185, 185, 185);
}

#search-btn {
    height: 40px;
    width: 56px;
    background: rgb(0, 132, 255);
    border: solid 2px rgb(240, 240, 240);
    border-radius: 8px;
    margin-left: -14px;
    margin-right: 16px;
    position: relative; 
    transition: 0.2s ease-in-out;
}

#search-btn:hover {
    background: rgb(48, 155, 255);
    padding: 0px;
}
